$duration: 150ms;

.Input {
  input {
    box-sizing: border-box;
    border: 1px solid #B5B6B5;
    border-radius: 0;
    padding: 10px;
    width: 100%;
    height: 38px;
    margin: 2px 0 0 0;
    color: #4A4A4A;
    transition: border $duration ease; 
    line-height: 1.5em;
    
    &:focus {
      background-color: white;
      outline: none;
    }

    &:hover {
      transition: border $duration ease; 
      border: 1px solid #C5E6D6; 
    }

    &::placeholder {
      color: #c9c9c9;
      font-style: normal;
    }
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    height: 17px;
    width: 42px;
    color: #5C5C5C;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
    transition: color $duration ease; 
  }

  &__charCount {
    height: 16px;
    width: 56px;
    color: #93969B;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-align: right;
  }

  &__error-show {
    color: #D0021B;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 4px;
    .fa {
      margin-right: 5px;
    }
  }
}

.Input__focused {
  input {
    box-shadow: inset 0 0 2px 0 rgba(51,58,86,0.2);
    
    &:hover {
      border: 1px solid #3dd2b3;
    }
  }

  .Input__label {
    color: #30A88F;
    transition: color $duration ease; 
  }

  .Input__input {
    border-color: #D5521B;
  }
}

.Input__error {
  input {
    border-color: #D0021B;
    
    &:hover {
      border: 1px solid rgb(170, 0, 20); 
    }
  }

  .Input__charCount {
    color: #D0021B;
  }
}

.Input__error.Input__focused {
  .Input__label {
    color: #D0021B;
  }

  input {
    border-color: rgb(170, 0, 20);
  }
}

.Input__error-show {
  transform: translateY(0px);
  transition: transform $duration ease;
  margin-bottom: 10px;
}

.Input__error-hidden {
  transform: translateY(-8px);
  transition: transform $duration ease;
  visibility: hidden;
}
