.root {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 'header' 'section' 'aside1' 'aside2' 'footer';
}
.header {
  background-color: 'mediumseagreen';
}
.aside1 {
  background-color: 'mediumseagreen';
}
.aside2 {
  background-color: 'mediumseagreen';
}
.section1 {
  background-color: 'mediumseagreen';
}
.footer {
  background-color: 'mediumseagreen';
}
