$blue-1: #1f3b67;
$blue-2: #2e538f;
$blue-3: #3467b0;
$blue-4: #6598de;
$blue-5: #b7cfef;
$blue-6: #eaf1fb;

$teal-1: #0f6660;
$teal-2: #177b66;
$teal-3: #30a88f;
$teal-4: #3dd2b3;
$teal-5: #ebfaf7;

$red-1: #99171d;
$red-2: #dd0c0c;
$red-3: #ff4545;
$red-4: #ff9090;
$red-5: #fbc8c8;

$orange-1: #d06600;
$orange-2: #fd891a;
$orange-3: #fdb01a;
$orange-4: #fed27e;
$orange-5: #fff3de;

$green-1: #417505;
$green-2: #6cb31b;
$green-3: #8ae622;
$green-4: #b9f277;
$green-5: #edffd9;

$grey-1: #4A4A4A;
$grey-2: #666666;
$grey-3: #939393;
$grey-4: rgba(34, 36, 38, 0.15);
$grey-5: #e8e8e8;
$grey-6: #eeeeee;
$grey-7: #f4f4f4;
