.editor {
  box-sizing: border-box;
  cursor: text;
  padding: 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.editor:focus {
  border: solid 1px #3dd2b3;
  outline: none;
}
.editor :global(.DraftEditor-root) {
  position: relative;
}
.editor :global(.DraftEditor-editorContainer) {
  background-color: rgba(255, 255, 255, 0);
  border-left: 0.1px solid transparent;
  position: relative;
  z-index: 1;
}
.editor :global(.public-DraftEditor-content) {
  min-height: 164px;
  padding: 16px;
}

.editor :global(.public-DraftEditor-content) figure {
  display: inline-flex;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.editor :global(.public-DraftEditorPlaceholder-root) {
  color: #cdcdcd;
  font-size: 14px;
  font-style: italic;
  position: absolute;
  z-index: 0;
  margin: 16px;
}

.editor :global(.public-DraftEditorPlaceholder-hasFocus) {
  color: #cdcdcd;
  font-style: italic;
}
.editor :global(.public-DraftEditorPlaceholder-hidden) {
  display: none;
}
.viewer {
  box-sizing: border-box;
  padding: 0px;
  clear: both;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #ebfaf7;
  color: #000000;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #b7cfef;
}

.toolbarContainer {
  display: flex;
  align-items: center;
  border-top: solid 1px #c6c6c6;
  background-color: #ebfaf7;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  flex-flow: row wrap;
}
